.blank-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 50px;
}

.main-content {
    width: 75%; /* 50% of the viewport width /
    height: 70vh; / same as width to make it square */
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px
}

.navbar {
    font-size: 20px;
}

.green-icon {
  color: rgb(0, 206, 0);
}

.custom-navbar {
  display: flex;
  align-items: center; /* Centers the logo vertically */
  justify-content: space-between; /* Helps space out logo and nav items */
}

.navbar-logo {
  height: auto;
  max-height: 90px; /* Adjust based on your preference */
  width: auto;
  margin-right: 10px; /* Optional, adds some space between the logo and the nav links */
}

.navbar-collapse {
  justify-content: center; /* Center nav-items horizontally */
}